.toolsdiv__spanelement {
  height: 4px;
  width: 30px;
  background-color: black;
  border: 1px;
}

#toolsdiv__spanelement2 {
  margin: 4px 0 4px 0;
}

#menutoggle__span {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin: 0 10px 0 5px;
}

#menutoggle__span :active {
  cursor: pointer;
}
