#Nav{
    display: flex;
    border-bottom: solid grey 1px;
}

ul{
    list-style: none;
    display: flex;
    
}

li{
    padding: 2.5px 10px 2.5px 10px;
}   

li > button {

}

li > a {
    
}

#Nav__coolersdiv{
    width: 75vw;
}