#toolsdiv{
    display: flex;
    border-bottom: solid grey 1px;
    padding: 2.5px 10px 2.5px 10px;
    max-height: 56px;
    width: 100vw;
    align-items: center;
}

.toolsdiv__items{
    margin: 0 5px 0 5px;
    width:36px;
    height: 36px;  
}

.toolsdiv__itemsh4{
    padding: 2.5px 10px 2.5px 10px; 
}

#toolsdiv__tools{
    position: absolute;
    right: 0;
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.divider{
height: 30px;
width: 1px;
background-color: rgba(0, 0, 0, 0.075);
margin:10px;
}